{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protected</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>F1Tickets Private Contact Details</h2>
        <p>System Administrator: s267450 <br> Email: s267450@uos.ac.uk <br> Telephone: 01234 567890 <br> Availability: Mon-Fri 0900-1700 <br> *INTERNAL INFORMATION DO NOT SHARE*</p>
        <a href="{% url 'index' %}" class="btn red-btn">Home</a>
    </div>
</body>
</html>
